<div class="progress-indicator">
  <div class="progress-details">
    <h3 class="progress-person">Hello, {{ user.username | titlecase }}</h3>

    <p>
      Total Tasks: <span>{{ todoItems.length }}</span>
    </p>
    <p>
      Completed Tasks: <span>{{ doneItems }}</span>
    </p>
  </div>

  <div class="bar-wrap">
    <ng-template [ngIf]="todoItems.length != 0" [ngIfElse]="noTasks">
      <ngb-progressbar
        type="success"
        [value]="donePercentage"
        [showValue]="true"
      ></ngb-progressbar>
    </ng-template>

    <ng-template #noTasks> There are no Tasks </ng-template>
  </div>
</div>
