.progress-indicator {
  margin-bottom: 1.5em;
}

.progress-details {
  text-align: left;
}

.progress-person {
  text-align: center;
  margin: 0;
}

.bar-wrap {
  height: 2em;
}
p {
  font-weight: bold;
  margin-bottom: 0;
}

span {
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .progress-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bar-wrap {
    height: 0;
    width: 50%;
  }
}
