@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";

body,
html,
app-root {
  background: #7cb9e8;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  background: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0.4em;
}
