@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";

body,
html,
app-root {
  background: #7cb9e8;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  background: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  min-height: 6.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

label {
  padding-left: 0.6em;
  font-size: 1.2em;
  text-align: left;
}
