.app-root {
  margin-top: 4em;
}

.app-wrapper {
  background: #fff;
  width: 70em;
  min-height: 50em;
  margin: 0 auto;
  border-radius: 5em;
  padding: 0 1.8em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
