<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
  <h1>Register</h1>

  <app-text-input
    [formControl]="registerForm.controls['username']"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['password']"
    [type]="'password'"
    [label]="'Password'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['confirmPassword']"
    [type]="'password'"
    [label]="'Confirm Password'"
  ></app-text-input>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Register
  </button>
</form>
<div *ngIf="registered">You were successfully registered. Redirecting...</div>
