<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
  <app-text-input
    [formControl]="loginForm.controls['username']"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="loginForm.controls['password']"
    [type]="'password'"
    [label]="'Password'"
  ></app-text-input>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
<p>
  No account yet?
  <a routerLink="/register" routerLinkActive="active">Register here.</a>
</p>
