<div class="list-wrapper" *ngIf="accountService.currentUser$ | async as user">
  <div class="list-inner">
    <div class="user">
      <app-progress-bar
        [todoItems]="displayTodoItems"
        [donePercentage]="donePercentage"
        [doneItems]="doneItems"
      >
      </app-progress-bar>
      <div class="container">
        <h2 class="task-type">Type of Tasks: {{ task }}</h2>

        <div class="row">
          <div class="col-sm mt-2">
            <button
              type="button"
              class="btn btn-primary"
              (click)="getItemsByTaskName('All')"
            >
              All
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mt-1">
            <button
              type="button"
              class="btn btn-secondary mr-1"
              (click)="getItemsByTaskName('None')"
            >
              None
            </button>
            <button
              type="button"
              class="btn btn-success"
              (click)="getItemsByTaskName('Home')"
            >
              Home
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mt-1">
            <button
              type="button"
              class="btn btn-danger mr-1"
              (click)="getItemsByTaskName('Work')"
            >
              Work
            </button>
            <button
              type="button"
              class="btn btn-info"
              (click)="getItemsByTaskName('Shopping')"
            >
              Shopping
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-tasks">
      <mat-tab-group>
        <mat-tab label="Tasks To-do: {{ notDoneItems }}">
          <ng-container
            *ngFor="let todoItem of displayTodoItems; let i = index"
          >
            <todo-items-item
              [hidden]="displayItems"
              *ngIf="todoItem.done === false"
              [todoItem]="todoItem"
              [todoItems]="displayTodoItems"
              [index]="i"
              (changeItem)="onItemChange($event)"
            ></todo-items-item>
            <h2 class="no-tasks" *ngIf="notDoneItems === 0">No Tasks To-do</h2>
          </ng-container>
        </mat-tab>
        <mat-tab label="Completed Tasks: {{ doneItems }}">
          <ng-container
            *ngFor="let todoItem of displayTodoItems; let i = index"
          >
            <todo-items-item
              [hidden]="displayItems"
              *ngIf="todoItem.done === true"
              [todoItem]="todoItem"
              [todoItems]="displayTodoItems"
              [index]="i"
              (changeItem)="onItemChange($event)"
            ></todo-items-item>
            <h2 class="no-tasks" *ngIf="doneItems === 0">No Completed Tasks</h2>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <h2 *ngIf="displayTodoItems.length === 0">There are no Tasks</h2>
      <todo-items-add (addTodoItem)="addTodoItem($event)"></todo-items-add>
    </div>
  </div>
</div>

<div class="not-logged-in" *ngIf="!(accountService.currentUser$ | async)">
  <h2>Nothing to see here</h2>
  <p>Please, login or register</p>
</div>
